@model Smartmei.Models.Cliente

@{
    ViewData["Title"] = "Create";
}

<style>

    body {
        background-color: #E7F9F9;
    }

    .botoes {
        padding: 20px 0;
        margin-bottom: 10px;
    }

    .form-group {
        padding: 5px 0;
    }

    .control-label {
        font-weight: bold;
    }

    .espacamento {
        padding: 10px 0;
    }

</style>

<div class="espacamento">
    <h2>Adicionar novo cliente</h2>
</div>
<hr/>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CNPJ" class="control-label"></label>
                <input asp-for="CNPJ" id="CNPJ" class="form-control" />
                <span asp-validation-for="CNPJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-select" asp-items="Html.GetEnumSelectList<Estado>()"></select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductOwner" class="control-label"></label>
                <input asp-for="ProductOwner" class="form-control" />
                <span asp-validation-for="ProductOwner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacao" class="control-label"></label>
                <input asp-for="Observacao" class="form-control" />
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="botoes">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                    <a class="btn btn-dark" asp-action="Index">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>


   


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#CNPJ').mask('00.000.000/0000-00');
            });
        </script>
}
