@model Smartmei.Models.Mei

@{
    ViewData["Title"] = "Cadastro";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>


        .cadastro-container {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 400px;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

            .cadastro-container h1 {
                text-align: center;
                margin-bottom: 20px;
            }

        .form-group {
            margin-bottom: 20px;
        }

            .form-group label {
                font-weight: bold;
            }

        .form-control {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .btn-success {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #09547F;
            color: white;
            cursor: pointer;
        }

            .btn-success:hover {
                background-color: #073c5d;
            }

        .text-danger {
            color: red;
        }
    </style>
</head>
<body>
    <div class="cadastro-container">

        <h1>Cadastro</h1>

        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create" onsubmit="return validarSenha()">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Senha" class="control-label"></label>
                        <input asp-for="Senha" class="form-control" />
                        <span asp-validation-for="Senha" class="text-danger"></span>
                        <div id="senhaError" class="text-danger" style="display: none;">A senha deve conter pelo menos 8 caracteres.</div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmarSenha" class="control-label"></label>
                        <input asp-for="ConfirmarSenha" class="form-control" />
                        <span asp-validation-for="ConfirmarSenha" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Cadastrar" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>

    </div>

    @if (!string.IsNullOrEmpty(ViewBag.AlertMessage))
    {
    <script>
            alert("@ViewBag.AlertMessage");
    </script>
    }


    <script>
        function validarSenha() {
            var senha = document.getElementById("Senha").value;
            var confirmarSenha = document.getElementById("ConfirmarSenha").value;
            var senhaError = document.getElementById("senhaError");

            if (senha.trim().length < 8) {
                senhaError.style.display = "block";
                return false;
            } else {
                senhaError.style.display = "none";
            }

            if (senha !== confirmarSenha) {
                alert("A senha e a confirmação de senha não correspondem.");
                return false;
            }

            return true;
        }
    </script>


</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
