@model Smartmei.Models.Mei

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        .cadastro-container {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 400px;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

            .cadastro-container h1 {
                text-align: center;
                margin-bottom: 20px;
            }

        .form-group {
            margin-bottom: 20px;
            position: relative;
        }

            .form-group label {
                font-weight: bold;
            }

        .form-control {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .btn-success {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #09547F;
            color: white;
            cursor: pointer;
        }

            .btn-success:hover {
                background-color: #073c5d;
            }

        .text-danger {
            color: red;
        }

        .toggle-password {
            position: absolute;
            right: 0;
            top: 55%;
            transform: translateY(-50%);
            cursor: pointer;
            padding: 10px;
        }

            .toggle-password i {
                width: 24px;
                height: 24px;
                color: gray;
            }

                .toggle-password i:hover {
                    color: #333;
                }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const togglePassword = document.querySelectorAll('.toggle-password');

            togglePassword.forEach(function (element) {
                element.addEventListener('click', function () {
                    const passwordInput = this.closest('.password-container').querySelector('.password-input');
                    const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                    passwordInput.setAttribute('type', type);
                    this.classList.toggle('active');
                });
            });
        });

        function validarSenha() {
            var senha = document.getElementById("Senha").value;
            var confirmarSenha = document.getElementById("ConfirmarSenha").value;
            var senhaError = document.getElementById("senhaError");

            if (senha.trim().length < 8) {
                senhaError.style.display = "block";
                return false;
            } else {
                senhaError.style.display = "none";
            }

            if (senha !== confirmarSenha) {
                alert("A senha e a confirmação de senha não correspondem.");
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
    <div class="cadastro-container">
        <h1>Cadastro</h1>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create" onsubmit="return validarSenha()">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label">Nome</label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Senha" class="control-label">Senha</label>
                        <div class="password-container" style="position: relative;">
                            <input asp-for="Senha" class="form-control password-input" />
                            <div class="toggle-password">
                                <i class="far fa-eye"></i>
                            </div>
                        </div>
                        <span asp-validation-for="Senha" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ConfirmarSenha" class="control-label">Confirmar Senha</label>
                        <div class="password-container" style="position: relative;">
                            <input asp-for="ConfirmarSenha" class="form-control password-input" />
                            <div class="toggle-password">
                                <i class="far fa-eye"></i>
                            </div>
                        </div>
                        <span asp-validation-for="ConfirmarSenha" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Cadastrar" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(ViewBag.AlertMessage))
    {
        <script>
            alert("@ViewBag.AlertMessage");
        </script>
    }

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>










