@model Smartmei.Models.Mei

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>


        .login-container {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .login-container h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            font-weight: bold;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .btn-success {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #09547F;
            color: white;
            cursor: pointer;
        }

        .btn-success:hover {
            background-color: #073c5d;
        }

        .text-danger {
            color: red;
        }

        .toggle-password {
            position: absolute;
            right: 22px;
            top: 63%;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .feather-eye {
            width: 24px;
            height: 24px;
            stroke: #ccc;
            transition: stroke 0.3s ease-in-out;
        }

            .feather-eye:hover {
                stroke: #333;
            }


    </style>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const passwordInput = document.querySelector('.password-input');
            const togglePassword = document.querySelector('.toggle-password');

            togglePassword.addEventListener('click', function () {
                const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordInput.setAttribute('type', type);
                this.classList.toggle('active');
            });
        });

    </script>

</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">E-mail</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label">Senha</label>
                <div class="password-container">
                    <input asp-for="Senha" class="form-control password-input" />
                    <div class="toggle-password">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye">
                            <circle cx="12" cy="12" r="3" />
                            <path d="M19.88 12c-1.13-3.39-4.42-6-7.88-6s-6.75 2.61-7.88 6c1.13 3.39 4.42 6 7.88 6s6.75-2.61 7.88-6z" />
                        </svg>

                    </div>
                </div>
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Acessar" class="btn btn-success" />
            </div>
        </form>
        <h6>@ViewBag.Message</h6>
    </div>
</body>
</html>