@model Smartmei.Models.Evento

@{
    ViewData["Title"] = "Create";
}

<h1></h1>

<h4>Adicionar Novo Evento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjetoId" class="control-label"></label>
                <select asp-for="ProjetoId" class ="form-control" asp-items="ViewBag.ProjetoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DataEventoInicio" class="control-label"></label>
                <input asp-for="DataEventoInicio" class="form-control" />
                <span asp-validation-for="DataEventoInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEventoFim" class="control-label"></label>
                <input asp-for="DataEventoFim" class="form-control" />
                <span asp-validation-for="DataEventoFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorDiaria" class="control-label"></label>
                <input asp-for="ValorDiaria" class="form-control" />
                <span asp-validation-for="ValorDiaria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-select" asp-items="Html.GetEnumSelectList<Estado>()"></select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">Voltar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
