@model Smartmei.Models.Evento

@{
    ViewData["Title"] = "Editar";
}

<style>

    body {
        background-color: #E7F9F9;
    }

    .botoes {
        padding: 20px 0;
        margin-bottom: 10px;
    }

    .form-group {
        padding: 5px 0;
    }

    .control-label {
        font-weight: bold;
    }

    .espacamento {
        padding: 10px 0;
    }

</style>

<div class="espacamento">
    <h2>Editar evento</h2>
</div>
<hr/>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ProjetoId" class="control-label"></label>
                <select asp-for="ProjetoId" class="form-control" asp-items="ViewBag.ProjetoId"></select>
                <span asp-validation-for="ProjetoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEventoInicio" class="control-label"></label>
                <input asp-for="DataEventoInicio" class="form-control" />
                <span asp-validation-for="DataEventoInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEventoFim" class="control-label"></label>
                <input asp-for="DataEventoFim" class="form-control" />
                <span asp-validation-for="DataEventoFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorDiaria" class="control-label"></label>
                <input asp-for="ValorDiaria" class="form-control" />
                <span asp-validation-for="ValorDiaria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-select" asp-items="Html.GetEnumSelectList<Estado>()"></select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="botoes">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                    <a class="btn btn-dark" asp-action="Index">Voltar</a>
                </div>
                </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
