@model Smartmei.Models.Projeto

@{
    ViewData["Title"] = "Create";
}

<style>

    /*Botões*/

    .botoes {
        padding: 0 10px 10px 0;
        margin-bottom: 30px;
        margin-right: 120px;
    }

    .btn-color {
        background-color: #09547F;
        color: #fff;
        border-color: #09547F;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 5px;
        margin-left: 5px;
    }

        .btn-color:hover {
            background-color: #0C71AB;
            color: #fff;
            border-color: #E7F9F9;
            text-decoration: none;
        }

    .btn-color-voltar {
        background-color: black;
        color: #fff;
        border-color: black;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 5px;
        margin-left: 5px;
    }

        .btn-color-voltar:hover {
            background-color: #292929;
            border-color: #E7F9F9;
            color: #fff;
            text-decoration: none;
        }

    /*Formulário*/

    .control-label {
        font-weight: bold;
        width: 100%;
    }

    .form-select {
        width: 100%;
        border: 2px solid #09547F;
    }

    .col {
        align-items: center;
        width: 100%;
        padding: 0 70px 0 70px;
        padding-bottom: 25px;
    }

    .form-control {
        border: 2px solid #09547F;
    }

    /*PÁGINA*/

    main {
        padding-top: 10px;
    }

    .espacamento {
        padding: 10px 0 30px 0;
        text-align: center;
    }

    body {
        background-image: url('/bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    h5 {
        text-align: center;
    }

</style>

<link href="/css/site.css" rel="stylesheet" />

<div class="espacamento">
    <h5>Adicionar novo projeto:</h5>
</div>

<div class="container">
<div class="row">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col">
                <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="ClienteId" class="control-label"></label>
                        <select asp-for="ClienteId" class="form-select" asp-items="ViewBag.ClienteId">
                            <option value="">Selecione</option>
                        </select>
                        <span asp-validation-for="ClienteId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="DataInicioProjeto" class="control-label"></label>
                        <input asp-for="DataInicioProjeto" type="date" required data-val-required="Por favor, informe a data de início do projeto." class="form-control" />
                        <span asp-validation-for="DataInicioProjeto" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="DataFimProjeto" class="control-label"></label>
                        <input asp-for="DataFimProjeto" type="date" required data-val-required="Por favor, informe a data do fim do projeto." class="form-control" />
                        <span asp-validation-for="DataFimProjeto" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="QuantidadeTelas" class="control-label"></label>
                        <input asp-for="QuantidadeTelas" required data-val="true" required data-val-required="Por favor, informe a quantidade de telas contratadas." class="form-control" />
                        <span asp-validation-for="QuantidadeTelas" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="ValorTela" class="control-label"></label>
                        <input asp-for="ValorTela" type="text" required data-val="true" data-val-required="Por favor, informe o valor da tela." class="form-control" />
                        <span asp-validation-for="ValorTela" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="ValorTotalProjeto" class="control-label"></label>
                        <input asp-for="ValorTotalProjeto" type="text" required data-val="true" data-val-required="Por favor, informe o valor total do projeto." class="form-control" />
                        <span asp-validation-for="ValorTotalProjeto" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="PrazoPagamento" class="control-label"></label>
                        <input asp-for="PrazoPagamento" required data-val="true" required data-val-required="Por favor, informe o prazo para pagamento." class="form-control" />
                        <span asp-validation-for="PrazoPagamento" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="DataEmissaoNF" class="control-label"></label>
                        <input asp-for="DataEmissaoNF" type="date" required data-val-required="Por favor, informe a data da emissão da nota fiscal." class="form-control" />
                        <span asp-validation-for="DataEmissaoNF" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="DataPagamentoNF" class="control-label"></label>
                        <input asp-for="DataPagamentoNF" type="date" required data-val-required="Por favor, informe a data de pagamento da nota fiscal." class="form-control" />
                        <span asp-validation-for="DataPagamentoNF" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Acompanhamento" class="control-label"></label>
                        <select asp-for="Acompanhamento" class="form-select" asp-items="Html.GetEnumSelectList<Acompanhamento>()"><option value="">Selecione</option></select>
                        <span asp-validation-for="Acompanhamento" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="LinkDrive" class="control-label"></label>
                        <input asp-for="LinkDrive" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Observacao" class="control-label"></label>
                        <input asp-for="Observacao" class="form-control" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="MeiId" class="control-label"></label>
                        <select asp-for="MeiId" class="form-select" asp-items="ViewBag.MeiId"></select>
                    </div>
                </div>
            </div>
        </div>
            <div class="form-group">
            <div class="botoes d-flex justify-content-end">
                    <input type="submit" value="Salvar" class="btn btn-color" />
                    <a class="btn btn-color-voltar" asp-action="Index">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

