/*GERAL*/

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 0;
}

/*FOOTER*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #09547F;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

/*MENU*/

nav.bg-custom-color {
    background-color: #09547F !important;
}

    nav.bg-custom-color .navbar-brand,
    nav.bg-custom-color .nav-link {
        color: #fff !important;
    }

.dropdown-menu {
    background-color: #09547F;
}

.dropdown-item {
    color: #fff !important;
}

    .dropdown-item:hover {
        background-color: transparent !important;
    }