html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #09547F;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

nav.bg-custom-color {
    background-color: #09547F !important;
}

    nav.bg-custom-color .navbar-brand,
    nav.bg-custom-color .nav-link {
        color: #fff !important;
    }

.dropdown-menu {
    background-color: #09547F;
}

.dropdown-item {
    color: #fff !important;
}

    .dropdown-item:hover {
        background-color: transparent !important;
    }

/*TESTE RESPONSIVIDADE*/

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    body {
        overflow-x: hidden;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}



@media (min-width: 768px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.servicos-home-lista li {
    width: 100%;
}

@media (min-width: 768px) {
    .servicos-home-lista li {
        width: auto;
    }
}

.servicos-home-lista li img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .servicos-home-lista li img {
        width: 300px;
    }
}

.servicos-home-lista li .texto-servico {
    width: calc(100% - 320px);
}

@media (min-width: 768px) {
    .servicos-home-lista li .texto-servico {
        width: calc(100% - 360px);
    }
}

@media only screen and (max-width: 400px) {
                                                                                      
    body {
        overflow-x: hidden;
    }
}


/*PÁGINA*/


/*BOTÕES*/

