html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 0;
}

/*FOOTER*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #09547F;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

/*MENU*/


nav.bg-custom-color {
    background-color: #09547F !important;
}

    nav.bg-custom-color .navbar-brand,
    nav.bg-custom-color .nav-link {
        color: #fff !important;
    }

.dropdown-menu {
    background-color: #09547F;
}

.dropdown-item {
    color: #fff !important;
}

    .dropdown-item:hover {
        background-color: transparent !important;
    }

@media only screen and (max-width: 430px) {
    
    .servicos-home-lista li {
        grid-template-columns: 1fr;
        width: 200px;
    }

    body {
        overflow-x: hidden;
    }

    .servicos-home-lista li img {
        display: block;
        width: 200px;
        height: 150px;
        object-fit: cover;
        border-radius: 40px 40px 0 0;
        border: 10px solid #FA983C;
        margin-right: 0;
    }

    .titulo {
        padding: 0 0 30px 0;
    }


    .titulo1 {
        font-size: 2rem;
        text-align: left;
        margin: auto;
    }

    h3, h2, p {
        text-align: left;
        margin: 0;
    }

    .container {
        height: 100%;
        margin: auto;
    }

    .servicos-home-lista li .texto-servico {
        border-radius: 0 0 15px 15px;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: url('../bg.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0;
    }

    .filtro {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 300px;
    }

    form.filtro {
        margin-bottom: 10px;
        margin-top: 0;
        max-width:300px;
    }

    input {
        margin-bottom: 10px;
    }

}

@media only screen and (max-width: 752px) {

    .servicos-home-lista li {
        grid-template-columns: 1fr;
        width: 200px;
    }

    body {
        overflow-x: hidden;
    }

    .servicos-home-lista li img {
        display: block;
        width: 200px;
        height: 150px;
        object-fit: cover;
        border-radius: 40px 40px 0 0;
        border: 10px solid #FA983C;
        margin-right: 0;
    }

    .titulo {
        padding: 0 0 30px 0;
    }

    .titulo1 {
        font-size: 2rem;
        text-align: left;
        margin: auto;
    }

    h3, h2, p {
        text-align: left;
        margin: 0;
    }

    .container {
        height: 100%;
        margin: auto;
    }

    .servicos-home-lista li .texto-servico {
        border-radius: 0 0 15px 15px;
    }

    .filtro {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    form.filtro {
        margin-bottom: 10px;
        margin-top: 0;
        width: 300px;
    }

    input[type="text"], input[type="submit"] {
        width: 300px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 820px) {

    .filtro {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    form.filtro {
        margin-bottom: 10px;
        margin-top: 0;
        width: 300px;
    }

    input[type="text"], input[type="submit"] {
        width: 300px;
        margin-bottom: 10px;
    }
}