@model SmartMei.Models.Faturamento

@{
    ViewData["Title"] = "Create";
}
<style>
    main {
        text-align: center;
        padding-top:20px;
    }

    h5 {
        text-align: center;
        padding-bottom: 30px
    }

    .col {
        align-items: center;
        width: 100%;
        padding: 0 70px 0 70px;
        padding-bottom: 30px;
    }

    body {
        background-color: #E7F9F9;
    }

    .form-control {
        border: 2px solid #09547F;
    }

    .form-group {
        padding: 20px 0;
        text-align:center;
    }

    .control-label {
        font-weight: bold;
        text-align: left;
    }

    .espacamento {
        padding: 10px 0;
    }

</style>


<h5>Adicionar novo faturamento:</h5>

<div class="container">
    <div class="row">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label asp-for="Mes" class="control-label"></label>
                        <input asp-for="Mes" class="form-control" />
                        <span asp-validation-for="Mes" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Ano" class="control-label"></label>
                        <input asp-for="Ano" class="form-control" />
                        <span asp-validation-for="Ano" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label asp-for="ValorBruto" class="control-label"></label>
                        <input id="ValorBruto" name="ValorBruto" required class="form-control" />
                        <span asp-validation-for="ValorBruto" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="CustoMensal" class="control-label"></label>
                        <input id="CustoMensal" name="CustoMensal" required class="form-control" />
                        <span asp-validation-for="CustoMensal" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label asp-for="ValorLiquidoMensal" class="control-label"></label>
                        <input id="ValorLiquidoMensal" name="ValorLiquidoMensal" required class="form-control" />
                        <span asp-validation-for="ValorLiquidoMensal" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="MeiId" class="control-label"></label>
                        <select asp-for="MeiId" class="form-control" asp-items="ViewBag.MeiId"></select>
                    </div>
                </div>
            </div>
                <div class="form-group" id="botoes">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                    <a class="btn btn-dark" asp-action="Index">Voltar</a>
                 </div>
            </form>
         </div>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
