@model SmartMei.Models.Faturamento

@{
    ViewData["Title"] = "Edit";
}
<style>
    main {
        text-align: center;
    }

    body {
        background-color: #E7F9F9;
    }

    .botoes {
        padding: 20px 0;
        margin-bottom: 10px;
    }

    .form-group {
        padding: 5px 0;
    }

    .control-label {
        font-weight: bold;
    }

    .espacamento {
        padding: 10px 0;
    }

</style>

<h4>Edite seu faturamento</h4>
<hr />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Mes" class="control-label"></label>
                <input asp-for="Mes" class="form-control" />
                <span asp-validation-for="Mes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ano" class="control-label"></label>
                <input asp-for="Ano" class="form-control" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorBruto" class="control-label"></label>
                <input asp-for="ValorBruto" class="form-control" />
                <span asp-validation-for="ValorBruto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustoMensal" class="control-label"></label>
                <input asp-for="CustoMensal" class="form-control" />
                <span asp-validation-for="CustoMensal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorLiquidoMensal" class="control-label"></label>
                <input asp-for="ValorLiquidoMensal" class="form-control" />
                <span asp-validation-for="ValorLiquidoMensal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeiId" class="control-label"></label>
                <select asp-for="MeiId" class="form-control" asp-items="ViewBag.MeiId"></select>
                <span asp-validation-for="MeiId" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <input type="submit" value="Salvar" class="btn btn-primary" />
                <a class="btn btn-dark" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
 </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
